<section class="about">
	<div class="container">
		<h2 class="about__title section-title">О марафоне</h2>
		<div class="about__items">
			<div class="about__item">
				<div class="about__item-title">Длительность</div>
				<div class="about__item-descr">3 дня</div>
			</div>
			<div class="about__item">
				<div class="about__item-title">Формат</div>
				<div class="about__item-descr">
					Вебинары <br />
					с Иваном Смирновым
				</div>
			</div>
			<div class="about__item">
				<div class="about__item-title">Стоимость</div>
				<div class="about__item-descr">Бесплатно</div>
			</div>
			<div class="about__item">
				<div class="about__item-title">Результат</div>
				<div class="about__item-descr">Иллюстрация и сертификат</div>
			</div>
		</div>
	</div>
</section>
