<section class="hero">
	<div class="hero__container">
		<picture>
			<source srcset="@img/hero-bg.png" media="(min-width: 992px)" />
			<source srcset="@img/hero-bg-md.png" media="(min-width: 768px)" />
			<source srcset="@img/hero-bg-sm.webp" type="image/webp" />
			<img
				class="hero__bg"
				src="@img/hero-bg.png"
				loading="lazy"
				alt="Марафон"
			/>
		</picture>
		<div class="container">
			<div class="hero__content">
				<div class="hero__subtitle">
					Бесплатный онлайн-марафон для 2D художников
				</div>
				<h1 class="hero__title">Название</h1>
				<div class="hero__datetime">Дата и время</div>
				<ul class="hero__list">
					<li>Рисовать пейзажи с уникальными архитектурными объектами</li>
					<li>Разрабатывать концепты от идеи до готовой иллюстрации</li>
					<li>Понимать специфику работы с композицией, цветом и светом</li>
				</ul>
				<div class="hero__buttons">
					<button class="hero__btn btn btn--white btn-reset">
						Зарегистрироваться
					</button>
					<button class="hero__btn btn btn--black btn-reset">ПРОГРАММА</button>
				</div>
			</div>
		</div>
	</div>
</section>
