<section class="participate">
	<div class="container">
		<h2 class="participate__title section-title">Участвуй, если ты</h2>
		<div class="participate__content">
			<picture>
				<source srcset="@img/participate.webp" type="image/webp" />
				<img
					class="participate__image"
					src="@img/participate.png"
					loading="lazy"
					alt="Участие"
				/>
			</picture>
			<ul class="participate__list">
				<li class="participate__item">
					<div class="participate__item-icon">
						<picture>
							<source srcset="@img/participate-01.webp" type="image/webp" />
							<img
								src="@img/participate-01.png"
								loading="lazy"
								alt="Художник"
							/>
						</picture>
					</div>
					<div class="participate__item-info">
						<div class="participate__item-title">Начинающий художник?</div>
						<div class="participate__item-descr">
							В провинции никого не пугает трубный призыв
						</div>
					</div>
				</li>
				<li class="participate__item">
					<div class="participate__item-icon">
						<picture>
							<source srcset="@img/participate-02.webp" type="image/webp" />
							<img
								src="@img/participate-02.png"
								loading="lazy"
								alt="Художник"
							/>
						</picture>
					</div>
					<div class="participate__item-info">
						<div class="participate__item-title">Опытный художник?</div>
						<div class="participate__item-descr">
							В провинции никого не пугает трубный призыв
						</div>
					</div>
				</li>
				<li class="participate__item">
					<div class="participate__item-icon">
						<picture>
							<source srcset="@img/participate-03.webp" type="image/webp" />
							<img
								src="@img/participate-03.png"
								loading="lazy"
								alt="Художник"
							/>
						</picture>
					</div>
					<div class="participate__item-info">
						<div class="participate__item-title">Начинающий художник?</div>
						<div class="participate__item-descr">
							В провинции никого не пугает трубный призыв
						</div>
					</div>
				</li>
				<li class="participate__item">
					<div class="participate__item-icon">
						<picture>
							<source srcset="@img/participate-04.webp" type="image/webp" />
							<img
								src="@img/participate-04.png"
								loading="lazy"
								alt="Художник"
							/>
						</picture>
					</div>
					<div class="participate__item-info">
						<div class="participate__item-title">Опытный художник?</div>
						<div class="participate__item-descr">
							В провинции никого не пугает трубный призыв
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
