.section-title {
	max-width: 376px;
	font-family: "BebasNeue", sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;

	@media (max-width: 991px) {
		font-size: 40px;
		line-height: 40px;
	}
}
