<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Описание" />

	<link rel="icon" href="favicon.ico" />
	<link rel="icon" href="img/favicon/favicon.svg" type="image/svg+xml" />
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png" />
	<link rel="manifest" href="img/favicon/manifest.json" />

	<link
		rel="preload"
		href="./fonts/Manrope-Regular.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="./fonts/Manrope-Medium.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="./fonts/Manrope-SemiBold.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="./fonts/BebasNeue-Regular.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="./fonts/BebasNeue-Bold.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<link rel="stylesheet" href="css/vendor.min.css" />
	<link rel="stylesheet" href="css/main.min.css" />

	<script defer src="js/main.min.js"></script>
	<title>@@title</title>
</head>
