// Базовы переменные
$font-family: "Manrope";
$font-family-secondary: "BebasNeue";
$content-width: 1160px;
$container-offset: 15px;
$container-width: calc($container-offset * 2 + $content-width);

// Цвета
$white-color: #fff;
$black-color: #000;
$black-color-2: #121212;
$purple-color: #d3b0e6;
$purple-color-2: #5d30fd;
$purple-color-3: #c6b6ff;
